repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.7.3
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
      types_or: [python, pyi, jupyter]
    # Run the formatter.
    # - id: ruff-format
    #   types_or: [python, pyi, jupyter]