<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:description" content="ALICE Automated Learning and Intelligence for Causation and Economics Alice is a project to direct Artificial Intelligence towards economic decision making.&nbsp; We are building tools that combine state-of-the-art machine learning with econometrics – the measurement of economic systems — in order to bring automation to economic decision making.&nbsp;&nbsp; The heart of this project is a …">
    <title>@ViewData["Title"] - ALICE - Microsoft Research</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" id="cpsh-shortcodes-css" href="https://www.microsoft.com/en-us/research/wp-content/plugins/column-shortcodes//assets/css/shortcodes.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="taxonomy-image-plugin-public-css" href="https://www.microsoft.com/en-us/research/wp-content/plugins/taxonomy-images/css/style.css?ver=0.9.6" type="text/css" media="screen">
    <link rel="stylesheet" id="ms-research-css" href="https://www.microsoft.com/en-us/research/wp-content/themes/microsoft-research-theme/assets/css/microsoft-research.min.css?ver=2bb730e0" type="text/css" media="all">
    <link rel="stylesheet" id="wp-components-css" href="https://www.microsoft.com/en-us/research/wp-includes/css/dist/components/style.min.css?ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-editor-font-css" href="https://fonts.googleapis.com/css?family=Noto+Serif%3A400%2C400i%2C700%2C700i&amp;ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-block-editor-css" href="https://www.microsoft.com/en-us/research/wp-includes/css/dist/block-editor/style.min.css?ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-nux-css" href="https://www.microsoft.com/en-us/research/wp-includes/css/dist/nux/style.min.css?ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-editor-css" href="https://www.microsoft.com/en-us/research/wp-includes/css/dist/editor/style.min.css?ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="msr_blocks-style-css-css" href="https://www.microsoft.com/en-us/research/wp-content/themes/microsoft-research-theme/assets/css/blocks-style.min.css?ver=3.0.0" type="text/css" media="all">
    <link rel="stylesheet" id="azure-player-css-css" href="//amp.azure.net/libs/amp/1.7.4/skins/amp-default/azuremediaplayer.min.css?ver=1.7.4" type="text/css" media="all">
    <link rel="stylesheet" id="elasticpress-autosuggest-css" href="https://www.microsoft.com/en-us/research/wp-content/plugins/elasticpress/features/autosuggest/assets/css/autosuggest.min.css?ver=2.8.1" type="text/css" media="all">
    <link rel="stylesheet" id="elasticpress-facets-css" href="https://www.microsoft.com/en-us/research/wp-content/plugins/elasticpress/features/facets/assets/css/facets.min.css?ver=2.8.1" type="text/css" media="all">

    <link rel="stylesheet" href="https://www.microsoft.com/onerfstatics/marketingsites-eus-prod/west-european/shell/_scrf/css/themes=default.device=uplevel_web_pc/31-9d5f3f/79-6aa410/c6-ce4cc7/f3-7d8ce1/18-6a72f8/26-12908c/88-de543b/18-e17dee?ver=2.0" type="text/css" media="all">
    <link rel="stylesheet" href="https://statics-marketingsites-eus-ms-com.akamaized.net/statics/override.css?c=7" type="text/css">
    <link rel="stylesheet" href="https://c.s-microsoft.com/mscc/statics/mscc-0.4.2.min.css" type="text/css">
    <!--
       <style type="text/css" id="wp-custom-css">
           .single-msr-research-lab #trp-floater-ls {
               display: none;
           }

           .single-msr-research-lab.postid-437514 #trp-floater-ls {
               display: block;
           }

           main.ie11 {
               display: block;
           }
       </style>
       <style type="text/css">
           .fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden} fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
           .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px} rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
           .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}
       </style>
    -->
</head>
<body>
    <main class="picchu project" data-bi-area="body" awa-sitesection="project single" id="main" role="main">
        <header class="picchu project msr-banner bg-center margin-bottom-sp6" style="background-image: url(&#39;https://www.microsoft.com/en-us/research/wp-content/uploads/2016/12/MSR-ALICE-HeaderGraphic-1920x720_1.jpg&#39;)" data-bi-name="hero" aria-label="msr-banner">
            <img class="msr-banner-mobile-img mobile-only db" src="~/img/MSR-ALICE-HeaderGraphic-1920x720_1-800x550.jpg" alt="ALICE">

            <div class="gray-d2-bgc msr-banner-content">
                <div class="ms-grid msr-banner-grid padding-vertical-sp6">
                    <div class="ms-row msr-banner-row vc x-hidden-focus">
                        <div class="l-col-16-24">


                            <h1 class="headline" style="color: #ffffff">
                                EconML: A Python Package for ML-Based Heterogeneous Treatment Effects Estimation
                            </h1>
                            <p class="title no-margin-bottom">
                                Established: March 6, 2019
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header>
        </header>
        <div class="ms-grid margin-bottom-sp6">
            <div class="ms-row">
                <section class="l-col-17-24 margin-bottom-sp5 l-no-margin-bottom" data-bi-name="content">
                    <div>
                        <div class="ms-tabs-wrap">
                            <div class="c-tabs .c-tabs__activated" data-header="h2" data-bi-name="tabs">
                                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                                    <div class="container">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                                aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                            <ul class="navbar-nav flex-grow-1">
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Overview</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetStarted">Get Started</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HowTo">Causal How To</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Publications">Publications</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CaseStudies">Case Studies</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>

                                <div class="container">
                                    <main role="main" class="pb-3">
                                        @RenderBody()
                                    </main>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!--/.l-col-16-24-->

                <div class="l-col-6-24 l-col-24-offset-1" data-bi-name="people">
                    <h2 class="subheader xloose">People</h2>

                    <h4 class="msr-underline-gray margin-bottom-sp4">Core Team</h4>

                    <ul class="msr-people-list stripped ms-row no-margin-bottom">
                        <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/glewis/" class="person-avatar"><img alt="Portrait of Greg Lewis" src="//www.microsoft.com/en-us/research/wp-content/uploads/2017/06/avatar_user__1496930436-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2017/06/avatar_user__1496930436-360x360.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/glewis/" class="semibold">Greg Lewis</a></h3><p class="body-alt no-margin-bottom">Senior Principal Researcher</p></div></li>
                        <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/vasy/" class="person-avatar"><img alt="Portrait of Vasilis Syrgkanis" src="//www.microsoft.com/en-us/research/wp-content/uploads/2017/06/avatar_user_34499_1498508511-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2017/06/avatar_user_34499_1498508511.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/vasy/" class="semibold">Vasilis Syrgkanis</a></h3><p class="body-alt no-margin-bottom">Principal Researcher</p></div></li>
                        <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/pauloka/" class="person-avatar"><img alt="Portrait of Paul Oka" src="//www.microsoft.com/en-us/research/wp-content/uploads/2016/06/avatar_user__1466629520-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2016/06/avatar_user__1466629520-360x360.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/pauloka/" class="semibold">Paul Oka</a></h3><p class="body-alt no-margin-bottom">Director of Engineering</p></div></li>
                        <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/kebatt/" class="person-avatar"><img alt="Portrait of Keith Battocchi" src="//www.microsoft.com/en-us/research/wp-content/uploads/2017/09/avatar_user_36548_1504713615-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2017/09/avatar_user_36548_1504713615-360x360.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/kebatt/" class="semibold">Keith Battocchi</a></h3><p class="body-alt no-margin-bottom">Senior Research Software Development Engineer</p></div></li>
                        <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/moprescu/" class="person-avatar"><img alt="Portrait of Miruna Oprescu" src="//www.microsoft.com/en-us/research/uploads/prod/2018/02/2017_09_24_IMG_1940-Edit_LinkedIn.jpg" srcset="//www.microsoft.com/en-us/research/uploads/prod/2018/02/2017_09_24_IMG_1940-Edit_LinkedIn.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/moprescu/" class="semibold">Miruna Oprescu</a></h3><p class="body-alt no-margin-bottom">Senior Data and Applied Scientist</p></div></li>
                        <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/mehei/" class="person-avatar"><img alt="Portrait of Maggie Hei" src="//www.microsoft.com/en-us/research/uploads/prod/2019/03/IMG_1425.jpg" srcset="//www.microsoft.com/en-us/research/uploads/prod/2019/03/IMG_1425.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/mehei/" class="semibold">Maggie Hei</a></h3><p class="body-alt no-margin-bottom">Data &amp; Applied Scientist II</p></div></li>
                        <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/eldillon/" class="person-avatar"><img alt="Portrait of Eleanor Dillon" src="//www.microsoft.com/en-us/research/uploads/prod/2019/07/DillonE_edSq.png" srcset="//www.microsoft.com/en-us/research/uploads/prod/2019/07/DillonE_edSq.png 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/eldillon/" class="semibold">Eleanor Dillon</a></h3><p class="body-alt no-margin-bottom">Senior Economist</p></div></li>
                    </ul>
                    <!--
                        <h4 class="msr-underline-gray margin-bottom-sp4">Affiliates </h4>

                        <ul class="msr-people-list stripped ms-row no-margin-bottom">
                            <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/bquist/" class="person-avatar"><img alt="Portrait of Brian Quistorff" src="//www.microsoft.com/en-us/research/wp-content/uploads/2016/09/Quistorff_angle.avatar-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2016/09/Quistorff_angle.avatar-360x360.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/bquist/" class="semibold">Brian Quistorff</a></h3><p class="body-alt no-margin-bottom">Research Economist</p></div></li>
                            <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/jlariv/" class="person-avatar"><img alt="Portrait of Jacob LaRiviere" src="//www.microsoft.com/en-us/research/wp-content/uploads/2016/06/avatar_user__1466706471-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2016/06/avatar_user__1466706471-360x360.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/jlariv/" class="semibold">Jacob LaRiviere</a></h3><p class="body-alt no-margin-bottom">Senior Researcher Economist</p></div></li>
                            <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/sidpeng/" class="person-avatar"><img alt="Portrait of Sida Peng" src="//www.microsoft.com/en-us/research/wp-content/uploads/2017/10/Sida-Peng_7047_Revised-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2017/10/Sida-Peng_7047_Revised-360x360.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/sidpeng/" class="semibold">Sida Peng</a></h3><p class="body-alt no-margin-bottom">Research Economist </p></div></li>
                            <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/mobius/" class="person-avatar"><img alt="Portrait of Markus Mobius" src="//www.microsoft.com/en-us/research/wp-content/uploads/2016/09/avatar_user__1475042713-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2016/09/avatar_user__1475042713.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/mobius/" class="semibold">Markus Mobius</a></h3><p class="body-alt no-margin-bottom">Principal Researcher</p></div></li>
                            <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/nicimm/" class="person-avatar"><img alt="Portrait of Nicole Immorlica" src="//www.microsoft.com/en-us/research/wp-content/uploads/2016/09/avatar_user__1475096651-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2016/09/avatar_user__1475096651-360x360.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/nicimm/" class="semibold">Nicole Immorlica</a></h3><p class="body-alt no-margin-bottom">Senior Principal Researcher</p></div></li>
                            <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5"><div class="msr-people-list__person"><a href="https://www.microsoft.com/en-us/research/people/brlucier/" class="person-avatar"><img alt="Portrait of Brendan Lucier" src="//www.microsoft.com/en-us/research/wp-content/uploads/2017/07/Brendan-Lucier-small-2-180x180.jpg" srcset="//www.microsoft.com/en-us/research/wp-content/uploads/2017/07/Brendan-Lucier-small-2-360x360.jpg 2x" class="avatar avatar-180 photo msr-profile-image margin-bottom-sp1 avatar" height="180" width="180"></a><h3 class="body-alt no-margin-bottom" data-no-translation=""><a href="https://www.microsoft.com/en-us/research/people/brlucier/" class="semibold">Brendan Lucier</a></h3><p class="body-alt no-margin-bottom">Principal Researcher</p></div></li>
                            <li class="xs-col-12-24 m-col-8-24 l-col-12-24 margin-bottom-sp5">
                                <div class="msr-people-list__person">
                                    <span class="person-avatar"><img src="https://www.microsoft.com/en-us/research/wp-content/themes/microsoft-research-theme/images/blank-avatar.png" alt="Portrait of Tomas Singliar" class="msr-profile-image margin-bottom-sp1 avatar"></span><h3 class="body-alt no-margin-bottom" data-no-translation=""><span class="semibold-people-title">Tomas Singliar</span></h3><p class="body-alt no-margin-bottom">Sr Data Scientist</p>			<p class="body-alt no-margin-bottom gray-d2-c">
                                        <em>Cloud AI</em>
                                    </p>
                                </div>
                            </li>
                        </ul>



                    -->
                </div>

            </div>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 Microsoft &nbsp;-&nbsp; <a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy &amp; cookies</a> &nbsp;-&nbsp;
                <a href="https://www.microsoft.com/en-us/research/">Microsoft Research</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </main>
</body>
</html>
