<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:description" content="ALICE Automated Learning and Intelligence for Causation and Economics Alice is a project to direct Artificial Intelligence towards economic decision making.&nbsp; We are building tools that combine state-of-the-art machine learning with econometrics – the measurement of economic systems — in order to bring automation to economic decision making.&nbsp;&nbsp; The heart of this project is a …">
    <title>@ViewData["Title"] - EconML - Microsoft Research</title>

    <link rel="stylesheet" id="cpsh-shortcodes-css" href="https://www.microsoft.com/en-us/research/wp-content/plugins/column-shortcodes//assets/css/shortcodes.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="taxonomy-image-plugin-public-css" href="https://www.microsoft.com/en-us/research/wp-content/plugins/taxonomy-images/css/style.css?ver=0.9.6" type="text/css" media="screen">
    <link rel="stylesheet" id="ms-research-css" href="https://www.microsoft.com/en-us/research/wp-content/themes/microsoft-research-theme/assets/css/microsoft-research.min.css?ver=2bb730e0" type="text/css" media="all">
    <link rel="stylesheet" id="wp-components-css" href="https://www.microsoft.com/en-us/research/wp-includes/css/dist/components/style.min.css?ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-editor-font-css" href="https://fonts.googleapis.com/css?family=Noto+Serif%3A400%2C400i%2C700%2C700i&amp;ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-block-editor-css" href="https://www.microsoft.com/en-us/research/wp-includes/css/dist/block-editor/style.min.css?ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-nux-css" href="https://www.microsoft.com/en-us/research/wp-includes/css/dist/nux/style.min.css?ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="wp-editor-css" href="https://www.microsoft.com/en-us/research/wp-includes/css/dist/editor/style.min.css?ver=5.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="msr_blocks-style-css-css" href="https://www.microsoft.com/en-us/research/wp-content/themes/microsoft-research-theme/assets/css/blocks-style.min.css?ver=3.0.0" type="text/css" media="all">
    <link rel="stylesheet" id="azure-player-css-css" href="//amp.azure.net/libs/amp/1.7.4/skins/amp-default/azuremediaplayer.min.css?ver=1.7.4" type="text/css" media="all">
    <link rel="stylesheet" id="elasticpress-autosuggest-css" href="https://www.microsoft.com/en-us/research/wp-content/plugins/elasticpress/features/autosuggest/assets/css/autosuggest.min.css?ver=2.8.1" type="text/css" media="all">
    <link rel="stylesheet" id="elasticpress-facets-css" href="https://www.microsoft.com/en-us/research/wp-content/plugins/elasticpress/features/facets/assets/css/facets.min.css?ver=2.8.1" type="text/css" media="all">

    <!--
        <link rel="stylesheet" href="https://www.microsoft.com/onerfstatics/marketingsites-eus-prod/west-european/shell/_scrf/css/themes=default.device=uplevel_web_pc/f8-7a3c66/60-6300af/cc-4d3241/af-407700/d5-a3e17a/5a-86f975/75-d01c06/a2-53eae8?ver=2.0" type="text/css" media="all">
      -->
    <link rel="stylesheet" href="https://statics-marketingsites-eus-ms-com.akamaized.net/statics/override.css?c=7" type="text/css">


    <link rel="stylesheet" href="https://c.s-microsoft.com/mscc/statics/mscc-0.4.2.min.css" type="text/css">

    <link rel="stylesheet" href="https://www.microsoft.com/onerfstatics/marketingsites-eus-prod/west-european/shell/_scrf/css/themes=default.device=uplevel_web_pc/2b-7ae144/7e-3283eb/69-8122fc/86-016699/72-2b1d8c/80-6461e7/2a-d9be59/51-40faf7?ver=2.0" type="text/css" media="all" />

    <script src="https://www.microsoft.com/onerfstatics/marketingsites-eus-prod/shell/_scrf/js/themes=default/54-af9f9f/c0-247156/de-099401/e1-a50eee/e7-954872/d8-97d509/f0-251fe2/46-be1318/77-04a268/11-240c7b/63-077520/a4-34de62/1b-c96630/db-bc0148/dc-7e9864/78-4c7d22/e1-c35781/40-7b7803/cd-23d3b0/6d-1e7ed0/b7-cadaa7/ca-40b7b0/4e-ee3a55/3e-f5c39b/c3-6454d7/f9-7592d3/92-10345d/79-499886/7e-cda2d3/db-f3b1fd/93-283c2d/e0-3c9860/91-97a04f/1f-100dea/33-abe4df/19-c0fae7?ver=2.0&amp;iife=1"></script>
    <script src="https://c.s-microsoft.com/mscc/statics/mscc-0.4.2.min.js"></script>
    <!--
       <style type="text/css" id="wp-custom-css">
           .single-msr-research-lab #trp-floater-ls {
               display: none;
           }

           .single-msr-research-lab.postid-437514 #trp-floater-ls {
               display: block;
           }

           main.ie11 {
               display: block;
           }
       </style>
       <style type="text/css">
           .fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden} fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
           .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px} rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
           .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}
       </style>
    -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--
    -- Toggle then next div visiable
    -->
    <script type="text/javascript">
        function toggleContents(elm) {
            var contentContainer = elm.parentNode.getElementsByTagName("div")[1];
            contentContainer.style.display = (contentContainer.style.display == 'block') ? 'none' : 'block';
        }

    </script>

    <style type="text/css" id="econmlnav">

        .econmlnavbar {
            float: right;
        }


        .nav-item a {
            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
        }
    </style>
</head>

<body>
    <header class="c-uhfh context-uhf c-sgl-stck c-category-headerjs bg-white">


        <div class="theme-light js-global-head f-closed global-head-cont">
            <div class="c-uhfh-gcontainer-st">
                <a id="uhfLogo" class="c-logo c-sgl-stk-uhfLogo" itemprop="url" href="https://www.microsoft.com" aria-label="Microsoft" data-m="{&quot;cN&quot;:&quot;GlobalNav_Logo_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}">
                    <img alt="" itemprop="logo" itemscope="itemscope" class="c-image" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31" role="presentation" aria-hidden="true">
                    <span role="presentation" aria-hidden="true">Microsoft</span>
                </a>
                <div class="f-mobile-title">
                    <button type="button" class="c-action-trigger c-glyph glyph-chevron-left" aria-label="See more menu options" data-m="{&quot;cN&quot;:&quot;Mobile back button_nonnav&quot;,&quot;id&quot;:&quot;nn4c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}"></button>
                    <span data-global-title="Microsoft home" class="js-mobile-title">Microsoft home</span>
                    <button type="button" class="c-action-trigger c-glyph glyph-chevron-right" aria-label="See more menu options" data-m="{&quot;cN&quot;:&quot;Mobile forward button_nonnav&quot;,&quot;id&quot;:&quot;nn5c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}"></button>
                </div>
                <div class="c-show-pipe x-hidden-vp-mobile-st">
                    <a id="uhfCatLogo" class="c-logo c-cat-logo" href="https://aka.ms/econml/" aria-label="EconML" itemprop="url">
                        <span>EconML</span>
                    </a>
                </div>
                <!--                     <nav class="c-uhfh-gnav navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
    -->
                <nav class="c-uhfh-gnav navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
                    <div class="econmlnavbar">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1 js-paddle-items" style="vertical-align:baseline">
                                <li class="single-link uhf-menu-item">
                                    <a class="c-uhf-nav-link" asp-area="" asp-controller="Home" asp-action="Overview">Overview</a>
                                </li>
                                <li class="single-link uhf-menu-item">
                                    <a class="c-uhf-nav-link " asp-area="" asp-controller="Home" asp-action="GetStarted">Get Started</a>
                                </li>
                                <li class="single-link uhf-menu-item">
                                    <a class="c-uhf-nav-link nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HowTo">How To</a>
                                </li>
                                <li class="single-link uhf-menu-item">
                                    <a class="c-uhf-nav-link nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Publications">Publications</a>
                                </li>
                                <li class="single-link uhf-menu-item">
                                    <a class="c-uhf-nav-link nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UseCases">Use Cases</a>
                                </li>
                                <li class="single-link uhf-menu-item">
                                    <a class="c-uhf-nav-link nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
                                </li>
                                <li class="single-link uhf-menu-item">
                                    <a class="c-uhf-nav-link nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
                                </li>
                                <li class="single-link uhf-menu-item">
                                    <a class="c-uhf-nav-link nav-link text-dark" asp-area="" asp-controller="Home" asp-action="People">People</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="picchu project" data-bi-area="body" awa-sitesection="project single" id="main" role="main">
        <header class="picchu project msr-banner bg-center margin-bottom-sp6" style="background-image: url(&#39;https://www.microsoft.com/en-us/research/wp-content/uploads/2016/12/MSR-ALICE-HeaderGraphic-1920x720_1.jpg&#39;)" data-bi-name="hero" aria-label="msr-banner">
            <img class="msr-banner-mobile-img mobile-only db" src="~/img/MSR-ALICE-HeaderGraphic-1920x720_1-800x550.jpg" alt="ALICE">

            <div class="gray-d2-bgc msr-banner-content">
                <div class="ms-grid msr-banner-grid padding-vertical-sp6">
                    <div class="ms-row msr-banner-row vc x-hidden-focus">
                        <div class="l-col-24-24"> <!-- Full screen width-->
                            <h1 class="headline" style="color: #ffffff">
                                @ViewData["Headline"]
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="econMLgitnav ms-grid">
                    <h5>
                        <a href="https://github.com/Microsoft/EconML" target="_blank">EconML on GitHub &nbsp;<img src="~/img/GitHub-Mark-Light-32px.png"></a> <a href="https://econml.azurewebsites.net/" target="_blank">Documentation on EconML</a>
                    </h5>
                </div>
            </div>
        </header>
        <div class="ms-grid margin-bottom-sp6">
            <div class="ms-row">
                <section class="l-col-22-24 margin-bottom-sp5 l-no-margin-bottom" data-bi-name="content"> <!-- 91% screen width -->
                    <div>
                        <div class="ms-tabs-wrap">
                            <div class="c-tabs .c-tabs__activated" data-header="h2" data-bi-name="tabs">

                                <div class="econmlcontainer">
                                    <main role="main" class="pb-3">
                                        @RenderBody()
                                    </main>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <footer class="border-top footer text-muted ">
            <div class="ms-grid">
                <div class="l-col-22-24">
                    <div class="container">
                        <div class="footermenu">
                            <span class="ftrgitnav">
                                <a href="https://github.com/Microsoft/EconML" target="_blank">EconML on GitHub &nbsp;<img src="~/img/GitHub-Mark-32px.png"></a> <a href="https://econml.azurewebsites.net/" target="_blank">Documentation on EconML</a>
                            </span>
                            <a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy &amp; cookies</a> &nbsp;-&nbsp;
                            <a href="https://www.microsoft.com/en-us/research/">Microsoft Research</a> &nbsp;-&nbsp;
                            <span id="cpywrght">&copy; Microsoft 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </main>
</body>
</html>
