
@{
    ViewData["Title"] = "FAQ";
    ViewData["Headline"] = "FAQ";
}
<!--
  -- CSS Styles for this specific page
-->
<style type="text/css" id="faqcss">

</style>

<h1> Frequently Asked Questions</h1>
<div class="faqSection">
    <ul class="faqList">
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>What if I don’t have a good instrument, can’t run an experiment, and don’t observe all confounders?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        In this case, no statistical approach can perfectly isolate the causal effect of the treatment on the outcome. DML, OrthoForest, or MetaLearners, all including all the confounders you can observe, will deliver the best approximation of the causal effect that minimizes the bias from confounders. Be aware of some remaining bias when using these estimates
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>How do I give feedback?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        This project welcomes contributions and suggestions.  Most contributions require you to agree to a
                        Contributor License Agreement (CLA) declaring that you have the right to, and actually do, grant us
                        the rights to use your contribution. For details, visit <a href="https://cla.microsoft.com" rel="nofollow">https://cla.microsoft.com</a>.
                    </p>
                    <p>
                        When you submit a pull request, a CLA-bot will automatically determine whether you need to provide
                        a CLA and decorate the PR appropriately (e.g., label, comment). Simply follow the instructions
                        provided by the bot. You will only need to do this once across all repos using our CLA.
                    </p>
                    <p>
                        This project has adopted the <a href="https://opensource.microsoft.com/codeofconduct/" rel="nofollow">Microsoft Open Source Code of Conduct</a>.
                        For more information see the <a href="https://opensource.microsoft.com/codeofconduct/faq/" rel="nofollow">Code of Conduct FAQ</a> or
                        contact <a href="mailto:opencode@microsoft.com">opencode@microsoft.com</a> with any additional questions or comments.
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>What is EconML?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>What is EconML?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>What is EconML?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>What is EconML?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>What is EconML?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>What is EconML?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <li class="faqItem">
            <div class="faqtitleContainer" onclick="toggleContents(this)">
                <a class="faq_trigger" href="#0"><span>What is EconML?</span></a>
                <div class="fqacontentContainer">
                    <p>
                        Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                    </p>
                </div>
            </div>
        </li>
        <!-- ------------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------------ -->
    </ul>
</div>

