
@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<script type="text/javascript">
    function toggleContents(elm) {
        var contentContainer = elm.parentNode.getElementsByTagName("div")[1];
        contentContainer.style.display = (contentContainer.style.display == 'block') ? 'none' : 'block';
    }
</script>


<h1>@ViewData["Title"]</h1>

<div class="faqSection">
    <ul class="faqList">



        <li class="faqItem">
            <div class="titleContainer" onclick="toggleContents(this)">What is Casusation?</div>
            <div class="fqacontentContainer" style="display:none">
                <p>
                    Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                </p>
            </div>
        </li>

        <li class="faqItem">
            <div class="titleContainer" onclick="toggleContents(this)">What is Casusation?</div>
            <div class="contentContainer" style="display:none">
                <p>
                    Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                </p>
            </div>
        </li>

        <li class="faqItem">
            <div class="titleContainer" onclick="toggleContents(this)">What is Casusation?</div>
            <div class="contentContainer" style="display:none">
                <p>
                    Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                </p>
            </div>
        </li>
    </ul>

</div>