
@{
    ViewData["Title"] = "Causal How To";
    ViewData["Headline"] = "Causal How To";

}
    <div class="howto">
        <h1>If You Are New to Causal Inference</h1>

        <p>
            Causal analysis is used to answer what-if questions. Unlike forecasting, which answers the question of what will happen next if everyone keeps behaving as they have in the past, causal inference answers the question of what would happen next if someone changes behavior, such as pursuing a new pricing strategy for a product or a new treatment for a patient.If you are new to causal inference, our guide will introduce you to the biggest challenges in answering causal questions, how EconML addresses those challenges, and the standard causal terminology we use throughout our SDK and documentation.
        </p>
        <p>
            If you are new to causal inference, our guide will introduce you to the biggest challenges in answering causal questions, how EconML addresses those challenges, and the standard causal terminology we use throughout our SDK and documentation.
        </p>

        <img src="~/img/slides.png" alt="Causal Slides Show" />

        <h1>Have a Question in Mind?</h1>

        <p>
            If you are ready to start estimating, our flow chart can guide you to an appropriate estimation model for your question. Also check out our Case Studies for examples that apply these models to real world questions.
        </p>

        <h1>Library Flow</h1>
        <img src="~/img/FlowChart.png" alt="Library Flow Chart" />

        <div class="faqSection">
            <ul class="faqList">
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">
                        Experiment
                    </div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Compliance</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Treatment assignement</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Can set W</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Caution</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Set Z to intended treatment</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Treatmetn responsiveness</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Instrument</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Linear treatment effects</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
                <!-- ------------------------------------------------------------------------------ -->
                <li class="faqItem">
                    <div class="faqtitleContainer" onclick="toggleContents(this)">Confidence intervals/model selection</div>
                    <div class="fqacontentContainer">
                        <p>
                            Lorem ipsum dolor sit amet, ius graecis admodum eu, quodsi dolorem maluisset te mea. Ad mea veniam principes democritum, ius ex malis clita posidonium. Eu fabulas utroque duo, illum congue his ut, hinc quando intellegat ut nam. Mei quem erat sanctus no, id alii falli delicatissimi cum, debitis adolescens definitiones et vix.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>