
@{
    ViewData["Title"] = "News";
    ViewData["Headline"] = "News";
}
<!--
  -- CSS Styles for this specific page
-->
<style type="text/css" id="newscss">

</style>
<section id="news" class="c-tabs__tabpanel padding-top-sp3 tab-overview" data-bi-name="news" role="tabpanel" aria-labelledby="news" aria-hidden="false" style="visibility: visible;">
    <div class="newssection">
        <!-- News Article ************************************************* -->
        <div class="newscontainer n-type-code">
            <div class="newsimage">
                <img src="~/img/imgCodeAnnouncement.png" />
            </div>
            <div class="newsitem">
                <div class="newsheader">
                    <div class="newstitlecontainer">
                        <div class="newstitleicon">
                            <img src="~/img/imgCurlyBrackets.png" alt="Curly Brackets" />
                        </div>
                        <div class="newstitle">
                            <h1>
                                EconML Code Release v0.7.0
                            </h1>
                        </div>
                    </div>
                    <div class="newsdateloc">
                        <img src="~/img/imgDate.png" />&nbsp;
                        <span class="newsdate">
                            March 06, 2020
                        </span>
                    </div>
                </div>
                <div class="newscontent">
                    <p>
                        This is a major release, see release notes <a href="https://github.com/Microsoft/EconML/releases/tag/v0.7.0" target="_blank">here.</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- News Article ************************************************* -->
        <div class="newscontainer n-type-ref">
            <div class="newsimage"></div>
            <div class="newsitem">
                <div class="newsheader">
                    <div class="newstitlecontainer">
                        <div class="newstitleicon">
                            <img src="~/img/imgWeb.png" alt="WWW Symbol" />
                        </div>
                        <div class="newstitle">
                            <h1>
                                Introduction to EconML Packages (meta-learners)
                            </h1>
                            <p>via https://usaito.hatenablog.com/ </p>
                        </div>
                    </div>
                    <div class="newsdateloc">
                        <img src="~/img/imgDate.png" />&nbsp;
                        <span class="newsdate">
                            April 07, 2019
                        </span>
                   
                    </div>
                </div>
                <div class="newscontent">
                    <p>
                        In recent years, research in the fusion of econometrics and machine learning has been booming. For example, related Tutorials are held in KDD2018 and NeurIPS2018.
                        As one of the trends, Microsoft Research has published a package called EconML, and I thought it would be very useful, so I'll briefly introduce it. <a href="https://usaito.hatenablog.com/entry/2019/04/07/205756" target="_blank">More...</a>
                    </p>
                </div>
            </div>

        </div>
        <!-- News Article Template ************************************************* -->
        <div class="newscontainer n-type-announcement">
            <div class="newsimage">
            </div>
            <div class="newsitem">
                <div class="newsheader">
                    <div class="newstitlecontainer">
                        <div class="newstitleicon">
                            <img src="~/img/imgMike2.png" alt="Speaker Mike" />
                        </div>
                        <div class="newstitle">
                            <h1>
                                Machine Learning Estimation of Heterogeneouse Treatement Effects: the Microsoft EconML Library Talk 
                            </h1>
                        </div>
                    </div>
                    <div class="newsdateloc">
                        <img src="~/img/imgDate.png" />&nbsp;
                        <span class="newsdate">
                            May 03, 2019
                        </span>
                    </div>
                </div>
                <div class="newscontent">
                    <p>
                        One of the biggest promises of machine learning is the automation of decision making in a multitude of application domains.
                        A core problem that arises in most data-driven personalized decision scenarios is the estimation of heterogeneous
                        treatment effects: what is the effect of an intervention on an outcome of interest as a function of a set of observable
                        characteristics of the treated sample? For instance, <a href="https://odsc.com/speakers/machine-learning-estimation-of-heterogeneous-treatment-effect-the-microsoft-econml-library/" target="_blank">More ...</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- News Article Template *************************************************
    <div class="newscontainer n-type-announcement">
        <div class="newsimage">
        </div>
        <div class="newsitem">
            <div class="newsheader">
                <div class="newstitlecontainer">
                    <div class="newstitleicon">
                    </div>
                    <div class="newstitle">
                        <h1>
                        </h1>
                    </div>
                </div>
                <div class="newsdateloc">
                    <img src="~/img/imgDate.png" />&nbsp;
                    <span class="newsdate">
                    </span>
                </div>
            </div>
            <div class="newscontent">
                <p>
                </p>
            </div>
        </div>
    </div>
    -->
    </div>
</section>