
@{
    ViewData["Title"] = "Publications";
    ViewData["Headline"] = "Publications";
}

<h1>Publications</h1>

<section id="publications" class="c-tabs__tabpanel publications-accordion padding-top-sp3" data-bi-name="publications" data-view="list" aria-labelledby="publications" >
    <h2 class="visually-hidden">Publications</h2>
    <div class="tab-intro">
    </div>
    <div id="related-posts-publications">
        <div>
            <!--
    <form method="get" class="publications-sort" action="#publications">
        <div class="msr-search-filter-research-areas msr-search-field s-col-24-24 m-col-6-24 l-col-6-24 margin-bottom-sp1">
            <label for="msr-sort-publications" class="msr-colon-label">
                View by
            </label>
            <span class="dropdown small">
                <select id="msr-sort-publications" name="sort" aria-controls="accordion-publications">
                    <option value="year">Year</option>
                    <option value="area">Research Area</option>
                    <option value="type">Publication Type</option>
                </select>
            </span>
        </div>

        <button class="msr-accordion-control collapse" data-bi-name="dnt button" data-bi-dnt="" aria-controls="accordion-publications">Hide All <span class="context">Publications</span></button>

    </form>

    -->


            <div class="msr-accordion" data-accordion-prefix-classes="msr-accordion" data-layout="list" role="tablist" aria-multiselectable="true" data-init="true">

                <button class="js-accordion__header msr-accordion__header" data-bi-name="dnt button" data-bi-dnt="" aria-controls="accordion-lpr5l514c2p_panel-1" aria-expanded="true" role="tab" id="accordion-lpr5l514c2p_tab-1" aria-selected="false">2019</button><div class="js-accordion__panel msr-accordion__panel" aria-labelledby="accordion-lpr5l514c2p_tab-1" role="tabpanel" id="accordion-lpr5l514c2p_panel-1" aria-hidden="false">

                    <h4 class="msr-accordion__title" tabindex="0">2019</h4><div class="ms-row">
                        <article class="publication -js-publication -article">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/orthogonal-random-forest-for-causal-inference-2/">
                                        Orthogonal Random Forest for Causal Inference
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    <a href="https://www.microsoft.com/en-us/research/people/moprescu/" aria-label="See Miruna Oprescu profile page">Miruna Oprescu</a>, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>, Zhiwei Steven Wu
                                </span>

                                <div class="journal-data">
                                    <span class="journal-data-data">
                                        <em>arXiv</em>
                                    </span>

                                    <span class="issue-data"><span class="separator"> | </span>September 2019</span>
                                </div>

                                <div class="notes">
                                    <span class="notes-data"></span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/pdf/1806.03467.pdf">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <article class="publication -js-publication -article">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/low-rank-bandit-methods-for-high-dimensional-dynamic-pricing/">
                                        Low-rank Bandit Methods for High-dimensional Dynamic Pricing
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    Jonas Mueller, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>, Matt Taddy
                                </span>

                                <div class="journal-data">
                                    <span class="journal-data-data">
                                        <em>arXiv</em>
                                    </span>

                                    <span class="issue-data"><span class="separator"> | </span>September 2019</span>
                                </div>

                                <div class="notes">
                                    <span class="notes-data"></span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/pdf/1801.10242%20">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <article class="publication -js-publication -article">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/machine-learning-estimation-of-heterogeneous-treatment-effects-with-instruments/">
                                        Machine Learning Estimation of Heterogeneous Treatment Effects with Instruments
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    <a href="https://www.microsoft.com/en-us/research/people/glewis/" aria-label="See Greg Lewis profile page">Greg Lewis</a>, <a href="https://www.microsoft.com/en-us/research/people/kebatt/" aria-label="See Keith Battocchi profile page">Keith Battocchi</a>, <a href="https://www.microsoft.com/en-us/research/people/mehei/" aria-label="See Maggie Hei profile page">Maggie Hei</a>, <a href="https://www.microsoft.com/en-us/research/people/moprescu/" aria-label="See Miruna Oprescu profile page">Miruna Oprescu</a>, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>, Victor Lei
                                </span>

                                <div class="journal-data">
                                    <span class="journal-data-data">
                                        <em>arXiv</em>
                                    </span>

                                    <span class="issue-data"><span class="separator"> | </span>May 2019</span>
                                </div>

                                <div class="notes">
                                    <span class="notes-data"></span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/abs/1905.10176">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <article class="publication -js-publication -article">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/semi-parametric-efficient-policy-learning-with-continuous-actions/">
                                        Semi-Parametric Efficient Policy Learning with Continuous Actions
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    <a href="https://www.microsoft.com/en-us/research/people/glewis/" aria-label="See Greg Lewis profile page">Greg Lewis</a>, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>, Victor Chernozhukov, Mert Demirer
                                </span>

                                <div class="journal-data">
                                    <span class="journal-data-data">
                                        <em>arXiv</em>
                                    </span>

                                    <span class="issue-data"><span class="separator"> | </span>May 2019</span>
                                </div>

                                <div class="notes">
                                    <span class="notes-data"></span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/abs/1905.10116">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <article class="publication -js-publication -article">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/orthogonal-statistical-learning/">
                                        Orthogonal Statistical Learning
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>, Dylan Foster
                                </span>

                                <div class="journal-data">
                                    <span class="journal-data-data">
                                        <em>arXiv</em>
                                    </span>

                                    <span class="issue-data"><span class="separator"> | </span>March 2019</span>
                                </div>

                                <div class="notes">
                                    <span class="notes-data"></span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/pdf/1901.09036.pdf">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>


                <button class="js-accordion__header msr-accordion__header" data-bi-name="dnt button" data-bi-dnt="" aria-controls="accordion-lpr5l514c2p_panel-2" aria-expanded="true" role="tab" id="accordion-lpr5l514c2p_tab-2" tabindex="-1" aria-selected="false">2018</button><div class="js-accordion__panel msr-accordion__panel" aria-labelledby="accordion-lpr5l514c2p_tab-2" role="tabpanel" id="accordion-lpr5l514c2p_panel-2" aria-hidden="false">
                    <h4 class="msr-accordion__title" tabindex="0">2018</h4><div class="ms-row">
                        <article class="publication -js-publication -inproceedings">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/semiparametric-contextual-bandits/">
                                        Semiparametric Contextual Bandits
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    <a href="https://www.microsoft.com/en-us/research/people/akshaykr/" aria-label="See Akshay Krishnamurthy profile page">Akshay Krishnamurthy</a>, Zhiwei Steven Wu, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>
                                </span>

                                <div class="journal-data">
                                    <span class="journal-data-data">
                                        <em></em>
                                    </span>

                                    <span class="issue-data"><em>International Conference on Machine Learning</em> | July 2018</span>
                                </div>

                                <div class="published-data">
                                    <span class="published-data"></span>
                                </div>

                                <div class="editors-data">
                                    <em></em>
                                </div>

                                <div class="notes">
                                    <span class="notes-data">arXiv</span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/pdf/1803.04204.pdf">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <article class="publication -js-publication -unpublished">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/plug-in-regularized-estimation-of-high-dimensional-parameters-in-nonlinear-semiparametric-models/">
                                        Plug-in Regularized Estimation of High-Dimensional Parameters in Nonlinear Semiparametric Models
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    Victor Chernozhukov, Denis Nekipelov, Vira Semenova, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>
                                </span>

                                <div class="how-published-data">
                                    <span class="how-published-data">June 2018</span>
                                </div>

                                <div class="notes">
                                    <span class="notes-data">arXiv preprint arXiv:1806.04823</span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/abs/1806.04823">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <article class="publication -js-publication -unpublished">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/orthogonal-random-forest-for-heterogeneous-treatment-effect-estimation/">
                                        Orthogonal Random Forest for Heterogeneous Treatment Effect Estimation
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    <a href="https://www.microsoft.com/en-us/research/people/moprescu/" aria-label="See Miruna Oprescu profile page">Miruna Oprescu</a>, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>, Steven Wu
                                </span>

                                <div class="how-published-data">
                                    <span class="how-published-data">June 2018</span>
                                </div>

                                <div class="notes">
                                    <span class="notes-data">arXiv preprint arXiv:1806.03467</span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/abs/1806.03467">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <article class="publication -js-publication -miscellaneous">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/adversarial-generalized-method-moments/">
                                        Adversarial Generalized Method of Moments
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    <a href="https://www.microsoft.com/en-us/research/people/glewis/" aria-label="See Greg Lewis profile page">Greg Lewis</a>, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>
                                </span>

                                <div class="published-data">
                                    <span class="published-data">March 2018</span>
                                </div>

                                <div class="how-published-data">
                                    <span class="how-published-data"></span>
                                </div>

                                <div class="notes">
                                    <span class="notes-data">arXiv</span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/pdf/1803.07164.pdf">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>


                <button class="js-accordion__header msr-accordion__header" data-bi-name="dnt button" data-bi-dnt="" aria-controls="accordion-lpr5l514c2p_panel-3" aria-expanded="true" role="tab" id="accordion-lpr5l514c2p_tab-3" tabindex="-1" aria-selected="false">2017</button><div class="js-accordion__panel msr-accordion__panel" aria-labelledby="accordion-lpr5l514c2p_tab-3" role="tabpanel" id="accordion-lpr5l514c2p_panel-3" aria-hidden="false">
                    <h4 class="msr-accordion__title" tabindex="0">2017</h4><div class="ms-row">
                        <article class="publication -js-publication -inproceedings">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/orthogonal-machine-learning-power-and-limitations/">
                                        Orthogonal Machine Learning: Power and Limitations
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    <a href="https://www.microsoft.com/en-us/research/people/lmackey/" aria-label="See Lester Mackey profile page">Lester Mackey</a>, <a href="https://www.microsoft.com/en-us/research/people/vasy/" aria-label="See Vasilis Syrgkanis profile page">Vasilis Syrgkanis</a>, Ilias Zadik
                                </span>

                                <div class="journal-data">
                                    <span class="journal-data-data">
                                        <em></em>
                                    </span>

                                    <span class="issue-data"><em>International Conference on Machine Learning</em> | December 2017</span>
                                </div>

                                <div class="published-data">
                                    <span class="published-data"></span>
                                </div>

                                <div class="editors-data">
                                    <em></em>
                                </div>

                                <div class="notes">
                                    <span class="notes-data"></span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="https://arxiv.org/pdf/1711.00342.pdf">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <article class="publication -js-publication -inproceedings">
                            <div class="publication-thumbnail-container hidden">
                                <div class="publication-thumbnail-inner">

                                </div>
                            </div>
                            <div class="content s-col-5-5">
                                <h5>
                                    <a href="https://www.microsoft.com/en-us/research/publication/deep-iv-a-flexible-approach-for-counterfactual-prediction/">
                                        Deep IV: A Flexible Approach for Counterfactual Prediction
                                    </a>
                                </h5>

                                <span class="associated-people">
                                    Jason Hartford, <a href="https://www.microsoft.com/en-us/research/people/glewis/" aria-label="See Greg Lewis profile page">Greg Lewis</a>, Kevin Leyton-Brown, Matt Taddy
                                </span>

                                <div class="journal-data">
                                    <span class="journal-data-data">
                                        <em></em>
                                    </span>

                                    <span class="issue-data"><em>Proceedings of Machine Learning Research</em> | August 2017</span>
                                </div>

                                <div class="published-data">
                                    <span class="published-data">Published by PMLR</span>
                                </div>

                                <div class="editors-data">
                                    <em></em>
                                </div>

                                <div class="notes">
                                    <span class="notes-data"></span>
                                </div>

                                <div class="publication-links">
                                    <span class="download-link">
                                        <a href="http://proceedings.mlr.press/v70/hartford17a/hartford17a.pdf">View Publication</a>
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
       <script type="text/template" id="tmpl-publications-container">
        <div>
            <form method="get" class="publications-sort" action="#publications">
                <div class="msr-search-filter-research-areas msr-search-field s-col-24-24 m-col-6-24 l-col-6-24 margin-bottom-sp1">
                    <label for="msr-sort-publications" class="msr-colon-label">
                        View by
                    </label>
                    <span class="dropdown small">
                        <select id="msr-sort-publications" name="sort" aria-controls="accordion-publications">
                            <option value="year">Year</option>
                            <option value="area">Research Area</option>
                            <option value="type">Publication Type</option>
                        </select>
                    </span>
                </div>

                <button class="msr-accordion-control expand" data-bi-name="dnt button" data-bi-dnt aria-controls="accordion-publications">
                    Show All&nbsp;
                    <span class="context">Publications?></span>
                </button>

            </form>

            <div class="js-accordion" data-accordion-prefix-classes="msr-accordion" id="accordion-publications" data-layout="{%- accordionLayout %}">
                Loading&hellop;
            </div>
        </div>
    </script>
    -->


    <script type="text/template" id="tmpl-publications-accordion">
        <h4 class="js-accordion__header">{%- accordionTitle %}</h4>
        <div class="js-accordion__panel"><div class="ms-row">{%- accordionPanel %}</div></div>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-default">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    <img class="publication-thumbnail" src="{%- thumbnail %}" />
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="book-data">
                    <span class="book-data">{%- bookData %}</span>
                </div>

                <div class="journal-data">
                    <span class="journal-data-data">
                        <em>{%- journalData %}</em>
                    </span>

                    <span class="issue-data">{%- issueData %}</span>
                </div>

                <div class="published-data">
                    <span class="published-data">{%- publishedData %}</span>
                </div>

                <div class="editors-data">
                    <em>{%- editors %}</em>
                </div>

                <div class="how-published-data">
                    <span class="how-published-data">{%- howPublished %}</span>
                </div>

                <div class="isbn-data">
                    <span class="isbn-data">{%- isbn %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-article">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="journal-data">
                    <span class="journal-data-data">
                        <em>{%- journalData %}</em>
                    </span>

                    <span class="issue-data">{%- issueData %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-book">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="published-data">
                    <span class="published-data">{%- publishedData %}</span>
                </div>

                <div class="book-data">
                    <span class="book-data">{%- bookData %}</span>
                </div>

                <div class="editors-data">
                    <em>{%- editors %}</em>
                </div>

                <div class="isbn-data">
                    <span class="isbn-data">{%- isbn %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-booklet">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="how-published-data">
                    <span class="how-published-data">{%- howPublished %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-inbook">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="book-data">
                    <span class="book-data">{%- bookData %}</span>
                </div>

                <div class="journal-data">
                    <span class="journal-data-data">
                        <em>{%- journalData %}</em>
                    </span>

                    <span class="issue-data">{%- issueData %}</span>
                </div>

                <div class="isbn-data">
                    <span class="isbn-data">{%- isbn %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-inproceedings">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="journal-data">
                    <span class="journal-data-data">
                        <em>{%- journalData %}</em>
                    </span>

                    <span class="issue-data">{%- issueData %}</span>
                </div>

                <div class="published-data">
                    <span class="published-data">{%- publishedData %}</span>
                </div>

                <div class="editors-data">
                    <em>{%- editors %}</em>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-manual">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="published-data">
                    <span class="published-data">{%- publishedData %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-mastersthesis">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="book-data">
                    <span class="book-data">{%- bookData %}</span>
                </div>

                <div class="journal-data">
                    <span class="journal-data-data">
                        <em>{%- journalData %}</em>
                    </span>

                    <span class="issue-data">{%- issueData %}</span>
                </div>

                <div class="published-data">
                    <span class="published-data">{%- publishedData %}</span>
                </div>

                <div class="editors-data">
                    <em>{%- editors %}</em>
                </div>

                <div class="how-published-data">
                    <span class="how-published-data">{%- howPublished %}</span>
                </div>

                <div class="isbn-data">
                    <span class="isbn-data">{%- isbn %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-miscellaneous">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="published-data">
                    <span class="published-data">{%- publishedData %}</span>
                </div>

                <div class="how-published-data">
                    <span class="how-published-data">{%- howPublished %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-phdthesis">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="published-data">
                    <span class="published-data">{%- publishedData %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-techreport">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="journal-data">
                    <span class="issue-data">{%- issueData %}</span>
                </div>

                <div class="published-data">
                    <span class="published-data">{%- publishedData %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-list-unpublished">
        <article class="publication -js-publication -{%- type %}">
            <div class="publication-thumbnail-container {%- thumbWrapClass %}">
                <div class="publication-thumbnail-inner">
                    {%- thumbnailImg %}
                </div>
            </div>
            <div class="content {%- thumbContentClass %}">
                <h5>
                    <a href="{%- permalink %}">
                        {%- title %}
                    </a>
                </h5>

                <span class="associated-people">
                    {%- people %}
                </span>

                <div class="how-published-data">
                    <span class="how-published-data">{%- howPublished %}</span>
                </div>

                <div class="notes">
                    <span class="notes-data">{%- notes %}</span>
                </div>

                <div class="publication-links">
                    <span class="download-link">
                        {%- publicationLinks %}
                    </span>
                </div>
            </div>
        </article>
    </script>
    <script type="text/template" id="tmpl-publications-accordion-item-card">
        <article class="col-1-3 bg-clip-content white-bgc margin-bottom-sp3 msr-publication-card video-card {%- hasThumbnail %}">
            <div class="preview">
                <a href="{%- permalink %}" class="semibold">
                    <img src="{%- thumbnail %}" alt="{%- title %}" />
                </a>
            </div>
            <div class="padding-horizontal padding-vertical-sp2">
                <h3 class="subtitle">
                    <a href="{%- permalink %}" class="semibold">
                        {%- title %}
                    </a>
                </h3>

                <div class="gray-d1-c">
                    <p class="body-alt tight">
                        {%- people %}
                    </p>

                    <p class="body-alt tight">
                        {%- publishDate %}
                    </p>

                    <p class="body-alt italic">
                        {%- publisher %}
                    </p>

                    <ul class="stripped msr-inline-list-spaced no-margin-bottom">
                        {%- downloadLink %}
                        {%- externalLink %}
                    </ul>
                </div>
            </div>
        </article>
    </script>
</section>
