<style type="text/css" id="overviewcss">
    div.uccontainer {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }


    div.uccolumn {
        display: inline-flex;
        position: relative;
        min-width: 32px;
        min-height: 32px;
    }

    div.col-m0 {
        margin: 0,0,0,0;
    }

    div.col-align {
        align-items: stretch;
        justify-content: start;
    }

    div.ucimg {
        padding-top: 10px;
        padding-left: 40px;
    }

    p.subtitletxt {
        font-style: italic;
        padding-top: -5px;
    }
    div.uccontent {
        padding-bottom: 100px;
    }

</style>
@{
    ViewData["Title"] = "Use Cases";
    ViewData["Headline"] = "Use Cases";

}
<section id="usecases" class="c-tabs__tabpanel padding-top-sp3 tab-overview">
    <div class="ms-row">
        <div class="usecases">
            <div id="Recommendation"class="uccontent">
                <div class="uccontainer">
                    <div class="uccolumn col-m0 col-align">
                        <div>
                            <a name="Recomendation">
                                <h1>Recomendation A/B testing</h1>
                            </a>
                            <p class="subtitletxt">
                                Interpret experiments with imperfect compliance
                            </p>
                            <p>
                                <b>Question:</b> A travel website would like to know whether joining a membership program causes users to spend more time engaging with the website.
                            </p>

                            <p>
                                <b>Problem:</b> They can’t look directly at existing data, comparing members and non-members, because the customers who chose to become members are likely already more engaged than other users. Nor can they run a direct A/B test because they can’t force users to sign up for membership.
                            </p>
                            <p>
                                <b>Solution:</b> The company had run an earlier experiment to test the value of a new, faster sign-up process. EconML’s <a href="~/docs/_autosummary/econml.ortho_iv.html">DRIV estimator</a> uses this experimental nudge towards membership as an instrument that generates random variation in the likelihood of membership. The DRIV model adjusts for the fact that not every customer who was offered the easier sign-up became a member and returns the effect of membership rather than the effect of receiving the quick sign-up.
                            </p>
                            <p class="linkbutton text-black-50">
                                <a href="~/img/MSR_ALICE_casestudy_2020.pdf" target="_blank">Trip Advisor Case Study &nbsp;<img src="~/img/imgDocumentLink.png" alt="Case Study"></a> &nbsp;<a href="https://github.com/microsoft/EconML/blob/master/notebooks/CustomerScenarios/Case%20Study%20-%20Recommendation%20AB%20Testing%20at%20An%20Online%20Travel%20Company.ipynb" target="_blank">Jupyter Notebook&nbsp;<img src="~/img/imgDocumentLink.png" alt="Notebook"/></a>
                            </p>
                        </div>
                    </div>
                    <div class="uccolumn col-m0 col-align">
                        <div class="ucimg">
                            <img src="~/img/Recomendation.png" alt="Recomendation A/B testing" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="Segmentation"class="uccontent">
                <div class="uccontainer">
                    <div class="uccolumn col-m0 col-align">
                        <div>
                            <a name="Segmentation">
                                <h1>Customer Segmentation</h1>
                            </a>
                            <p class="subtitletxt">
                                Estimate individualized responses to incentives
                            </p>
                            <p>
                                <b>Question:</b> A media subscription service would like to offer targeted discounts through a personalized pricing plan.
                            </p>
                            <p>
                                <b>Problem:</b> They observe many features of their customers, but are not sure which customers will respond most to a lower price.
                            </p>
                            <p>
                                <b>Solution:</b> EconML’s <a href="~/docs/_autosummary/econml.dml.html#module-econml.dml">DML estimator</a> uses price variations in existing data, along with a rich set of user features, to estimate heterogeneous price sensitivities that vary with multiple customer features. The <a href="~/docs/_autosummary/econml.cate_interpreter.html">tree interpreter</a> provides a presentation-ready summary of the key features that explain the biggest differences in responsiveness to a discount.
                            </p>
                            <p class="linkbutton text-black-50">
                                <a href="https://github.com/microsoft/EconML/blob/master/notebooks/CustomerScenarios/Case%20Study%20-%20Customer%20Segmentation%20at%20An%20Online%20Media%20Company.ipynb" target="_blank">Jupyter Notebook&nbsp;<img src="~/img/imgDocumentLink.png" alt="Notebook" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="uccolumn col-m0 col-align">
                        <div class="ucimg">
                            <img src="~/img/Segmentation.png" alt="Customer Segmentation" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="Attribution"class="uccontent">
                <div class="uccontainer">
                    <div class="uccolumn col-m0 col-align">
                        <div>

                            <a name="Attribution">
                                <h1>Multi-investment Attribution</h1>
                            </a>
                            <p class="subtitletxt">
                                Distinguish the effects of multiple outreach efforts
                            </p>
                            <p>
                                <b>Question:</b> A startup would like to know the most effective approach for recruiting new customers: price discounts, technical support to ease adoption, or a combination of the two.
                            </p>
                            <p>
                                <b>Problem:</b> The risk of losing customers makes experiments across outreach efforts too expensive. So far, customers have been offered incentives strategically, for example larger businesses are more likely to get technical support.
                            </p>
                            <p>
                                <b>Solution:</b> EconML’s <a href="~/docs/_autosummary/econml.drlearner.html">Doubly Robust Learner</a> model jointly estimates the effects of multiple discrete treatments. The model uses flexible functions of observed customer features to filter out confounding correlations in existing data and deliver the causal effect of each effort on revenue.
                            </p>
                        </div>
                    </div>
                    <div class="uccolumn col-m0 col-align">
                        <div class="ucimg">
                            <img src="~/img/Attribution.png" alt="Multi-investment Attribution" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
